<a href="https://colab.research.google.com/github/AhmedMansour1070/AhmedMansour1070/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Ahmed")

Ahmed

In [15]:
import pandas as pd 
data = pd.read_csv('/content/weather.csv' , parse_dates=True , index_col=0)
data.head()

            MinTemp  MaxTemp  Rainfall  ...  RainToday  RISK_MM RainTomorrow
Date                                    ...
2008-02-01     19.5     22.4      15.6  ...        Yes      6.0          Yes
2008-02-02     19.5     25.6       6.0  ...        Yes      6.6          Yes
2008-02-03     21.6     24.5       6.6  ...        Yes     18.8          Yes
2008-02-04     20.2     22.8      18.8  ...        Yes     77.4          Yes
2008-02-05     19.7     25.7      77.4  ...        Yes      1.6          Yes

[5 rows x 22 columns]

In [14]:
data.index

DatetimeIndex(['2008-02-01', '2008-02-02', '2008-02-03', '2008-02-04',
               '2008-02-05', '2008-02-06', '2008-02-07', '2008-02-08',
               '2008-02-09', '2008-02-10',
               ...
               '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25'],
              dtype='datetime64[ns]', name='Date', length=3337, freq=None)

In [17]:
dataset = data[['MinTemp' ,'MaxTemp' , 'RainTomorrow']]
dataset.head()

            MinTemp  MaxTemp RainTomorrow
Date
2008-02-01     19.5     22.4          Yes
2008-02-02     19.5     25.6          Yes
2008-02-03     21.6     24.5          Yes
2008-02-04     20.2     22.8          Yes
2008-02-05     19.7     25.7          Yes

In [3]:
from sklearn.datasets import load_iris
iris_dataset = load_iris()

In [ ]:
print("Keys pf iris_dataset: \n{}".format(iris_dataset.values()))

In [ ]:
print(iris_dataset)

In [25]:
print("Target Numbers: \n{}".format(iris_dataset['target_names']))

Target Numbers:
['setosa' 'versicolor' 'virginica']

In [29]:
print("Data type: \n{}".format(type(iris_dataset['data'][:5])))

Data type:
<class 'numpy.ndarray'>

In [11]:
print("The shape of the data is: {}".format(iris_dataset['data'].shape))
print("The shape of the Target is: {} ".format(iris_dataset['target'].shape))

The shape of the data is: (150, 4)
The shape of the Target is: (150,)

In [5]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(iris_dataset['data'],iris_dataset['target'],random_state= 0)

In [12]:
print("X_train shape:{}".format(X_train.shape))
print("y_train shape:{}".format(y_train.shape))

X_train shape:(112, 4)
y_train shape:(112,)

In [13]:
print("X_tset shape is: {}".format(X_test.shape))
print("y_tset shape is: {}".format(y_test.shape))

X_tset shape is: (38, 4)
y_tset shape is: (38,)

In [16]:
#create dataframe from data in X_train
#label the columns usuing the strings in iris_dataset.feature_names
iris_dataframe = pd.DataFrame(X_train , columns = iris_dataset.feature_names)
#create a scatter matrix from the dataframe, color by y_train